
// Font Family

$heading-font: var(--heading-font);

$body-font: var(--body-font);



// Font Size

$h1-font: 60px;

$h2-font: 48px;

$h3-font: 27px;

$h4-font: 20px;

$h5-font: 18px;

$h6-font: 16px;
